
*{
    font-family: "Poppins", system-ui;
}

h1{
    color: blue;
    font-family: "Roboto", sans-serif
}


h2, h3{
    color: rgb(191, 150, 0);
}

header{
    height: 100px;
    background-color:rgba(165, 161, 160, 0.3);
}

#logo{
    height: 100px;
    background-image: url(./media/01logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.enfasi:hover{
    background-color: rgb(229, 255, 0);
}

